# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Folder and executables
test/makeTreeForExample
test/plotGenerationExample
test/plots
test/trees
test/*.log
